<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!---   2CSS -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>







    <div id="todoapp">
        <todo-server></todo-server>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        Vue.directive('focus', {
            inserted: function(el) {
                el.focus()
            }

        })
        Vue.directive('updateFocus', {
            update: function(el, binding) {
                if (binding.value) {
                    el.focus();
                }
            }
        })
        var eventHub = new Vue()

        var TodoFooter = {
            props: ['todos'],
            data() {
                return {
                    filterItem: ['All', 'Active', 'Completed'],
                    currentItem: 'All'
                }
            },
            template: `
            <footer class="footer">
                <span class="todo-count">
                    <strong>{{todoCount}}</strong> item left</span>
                <ul class="filters">
                    <li><a href="#/" :class="{selected: item==currentItem}" @click.prevent="filter(item)" v-for="item in filterItem">{{item}}</a></li>
                 
                </ul>
                <button class="clear-completed"  @click="deleteTodo">Clear completed</button>
            </footer>
            `,
            computed: {
                todoCount() {
                    let undone = this.todos.filter(item => !item.completed)
                    return undone.length
                }
            },
            methods: {
                filter(val) {
                    this.currentItem = val
                    eventHub.$emit('filter-item', val)
                },
                deleteTodo() {
                    this.$emit('change-todo', {
                        type: 'completed'
                    })
                }
            }
        }
        var TodoMain = {
            props: ['todos'],
            data() {
                return {
                    allFlag: '',
                    editItem: {},
                    filterItem: this.todos
                }
            },
            template: `
            <section class="main">
                <input id="toggle-all" type="checkbox" class="toggle-all" v-model="allFlag">
                <label for="toggle-all">Mark all as complete</label>
                <ul class="todo-list">
                    <li :class="{completed: item.completed,editing: item.id==editItem.id}" v-for="item in filterItem" :key="item.id" >
                        <div class="view">
                            <input type="checkbox" class="toggle" :checked="item.completed? 'checked':''" @change="changeFlag(item,$event)">
                            <label @dblclick="changeTodo(item)">{{item.title}}</label>
                            <button class="destroy" @click="deleteTodo(item.id)">
                            </button></div>
                        <input class="edit" v-model="editItem.title" @keyup.enter="changeTodoed" v-updateFocus="item.id==editItem.id">
                    </li>
                </ul>
            </section>
            `,
            methods: {
                deleteTodo(id) {
                    this.$emit('change-todo', {
                        id: id,
                        type: 'delete'
                    })
                },
                changeFlag(val, event) {
                    this.$emit('change-todo', {
                        id: val.id,
                        type: 'change',
                        completed: event.target.checked,
                        title: val.title
                    })
                },
                changeTodo(val) {
                    this.editItem = val
                },
                changeTodoed(val) {
                    this.$emit('change-todo', this.editItem.type = 'change')
                    this.editItem = ''
                }
            },
            watch: {
                allFlag() {
                    this.$emit("change-todo", {
                        type: 'allFlag',
                        completed: this.allFlag
                    })
                },
                todos() {
                    this.filterItem = this.todos
                }
            },
            mounted() {
                eventHub.$on('filter-item', (val) => {
                    if (val == 'All') {
                        this.filterItem = this.todos
                    } else if (val == 'Active') {
                        this.filterItem = this.todos.filter((item) => {
                            return !item.completed
                        })
                    } else if (val == 'Completed') {
                        this.filterItem = this.todos.filter((item) => {
                            return item.completed
                        })
                    }
                })
            },
        }
        var TodoHeader = {
            template: `
            <header class="header">
                <h1>todos</h1>
                <input placeholder="What needs to be done?" class="new-todo" @keyup.enter="addTodo($event)" v-focus>
            </header>
            `,
            methods: {
                addTodo(event) {
                    this.$emit('add-todo', event.target.value)
                    event.target.value = ''
                }
            },
        }
        Vue.component('todo-server', {
            data() {
                return {
                    todos: [{
                        id: 1,
                        title: '吃饭',
                        completed: false
                    }, {
                        id: 2,
                        title: '睡觉',
                        completed: false
                    }, {
                        id: 3,
                        title: '打豆豆',
                        completed: true
                    }]
                }
            },
            template: `
            <section id="todoapp" class="todoapp">
                <todo-header @add-todo="add($event)"></todo-header>
                <todo-main :todos="todos" @change-todo="changeTodo($event)"></todo-main>
                <todo-footer :todos="todos" @change-todo="changeTodo($event)"></todo-footer>
            </section>
            `,
            components: {
                'todo-header': TodoHeader,
                "todo-main": TodoMain,
                "todo-footer": TodoFooter
            },
            methods: {
                add(val) {
                    // console.log(this.todos);

                    this.todos.push({
                        id: this.todos[this.todos.length - 1].id + 1,
                        title: val,
                        completed: false
                    })

                },
                changeTodo(val) {
                    if (val.type == 'delete') {
                        this.todos = this.todos.filter(item => item.id != val.id)
                    } else if (val.type == 'allFlag') {
                        this.todos.forEach(item => {
                            item.completed = val.completed
                        });
                    } else if (val.type == 'change') {
                        this.todos.some(item => {
                            if (item.id == val.id) {
                                item.completed = val.completed
                                item.title = val.title
                            }
                        })
                    } else if (val.type == 'completed') {
                        console.log(this.todos);
                        this.todos = this.todos.filter((item) => {
                            return item.completed == false
                        })
                        console.log(this.todos);

                    }
                }
            },
        })
        var vm = new Vue({
            el: "#todoapp",
            data: {

            }
        })
    </script>
</body>


</html>